src/main/resources/xmls/issueProperty.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/issueProperty" xmlns:tns="http://www.example.org/issueProperty" elementFormDefault="qualified">



    <element name="property" type="string"></element>

    <complexType name="property">
    	<sequence>
    		<element name="id" type="string"></element>
    		<element name="name" type="string"></element>
    	</sequence>
    </complexType>
</schema>